/*RESET STYLES*/
*{
	margin:0px;
	padding: 0px;
	border: 0px;
}
body,html{
	width:100%;
	height:100%;
}
body{
	background: #efefef !important;
	background-color: #efefef !important;
}

/*** Vertical spacers ***/
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


.whiteBg{
	background-color: #fff;
	background: #fff;
	padding:20px;
	border: 1px solid rgba(0,0,0,.15)
}
.left-more{
	margin-left:-15px;
}
.right-more{
	margin-right:-15px;
}

.container-fluid{
	width:98% !important;
}

#header{
	width:100%;
	height:70px;
	background: #262b33;
	float: left;
	position: fixed;
	top:0px;
	z-index: 1000000
}

#header #logo_area{
	width:250px;
	height:70px;
	background: #009688;
	display: block;
	float: left;
	text-align: center;
	padding-top:15px;
}

#header img{
	width:200px;
	height: auto
}
#sidebar{
	width:250px;
	top:70px;
	height:100%;
	float: left;
	background: #262B33;
	background-color: #262B33;
	float: left;
	position: fixed;
	z-index: 1000000
}
#sidebar .tiny-title{
	color:#666;
	font-weight: 400;
	margin-left:10px;
	letter-spacing: 2px;
	margin-left:15px;
}

#sidebar .nav-pills{
	padding-left:10px;
}
#sidebar .nav-pills>li>a{
	color:rgba(255,255,255,.5);
	font-size:14px;
	font-weight: 500;
}
#sidebar .nav-pills>li>a.active,
#sidebar .nav-pills>li>a:hover,
#sidebar .nav>li>a:focus{
	color:rgba(255,255,255,.8);
	background-color:transparent !important;
}

#sidebar .nav-pills>li>a>.glyphicon{
	margin-right:10px;
}

/*START MAIN BODY STYLES*/
.content_container{
	width:85%;
	margin-left:260px;
	float: left;
	position: relative;
}


#page-heading-row{
	margin-top:-5px;
	width:100%;
    height: 70px;
    color:#f8f8f8;
    position: absolute;
    z-index:2000000;
	
}

#page-heading-row h3{
	font-weight: 300;
	margin-left:-30px;
	letter-spacing: 1px;
}

.content-start{
	margin-top:120px;
}

canvas{
	height:330px !important;
}










