<div class="row" id="page-heading-row">
	<div class="col-xs-12 col-sm-6">
		<h3 class="panel-heading">
			Company
		</h3>
	</div>
</div>

	<span class="spacer30"></span>
	<div class="row content-start" ng-show='!go'>
		<div class="col-xs-12 col-sm-12 whiteBg">
			<div class="row">
				<div class="col-xs-12">
					<h3>{{compData.legalName}}</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h4>Company Details</h4>
					<ul class="list-unstyled">
						<li><h6>Company ID: {{compData.companyId}}</h6></li>
						<li><h6>Company Revenue: {{compData.revenue | currency}}</h6></li>
						<li><h6>Company Location: {{compData.address}}</h6></li>
						<li><h6>Company Employees: {{compData.employees}}</h6></li>
						<li><h6>Company Industry: {{compData.industry}}</h6></li>
					</ul>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-12">
							<table class="table">
								<thead>
									<th>Issuer Id</th>
									<th>Rate</th>
									<th>Cusip</th>
									<th>Prices</th>
									<th></th>
								</thead>
								<tbody>
									<tr ng-repeat='bond in bonddata'>
										<td>{{bond.issuerId}}</td>
										<td>{{bond.couponRate}}</td>
										<td>{{bond.cusip}}</td>
										<td>
											<ul class="list-unstyled">
												<li ng-repeat='price in bond.prices | limitTo : bondlimit : bondlimitstart '>
													<div class="row">
														<span class='col-xs-6'><strong>{{price.price | currency}}</strong> </span>
														<span class='col-xs-6 text-right'>
															<span class="spacer5"></span>
															<span class='glyphicon {{price.lessThan | direction}}'></span>
														</span>
													</div>
													<div class="row">
														<span class="col-xs-6">
															{{price.timestamp | date:"yyyy/MM/dd HH:mm:ss"}}
														</span>
													</div>
													<span class="spacer20"></span>
												</li>
												<li class='row'>
													<span class="col-xs-6" style='cursor:pointer' ng-disable='bondlimitstart == 0' ng-click="previousbonds()">
														<span class="glyphicon glyphicon-chevron-left"></span>
														<span>Previous Bonds</span>
													</span>
													<span style='cursor:pointer' class="col-xs-6 text-right" ng-click="nextbonds()">														
														<span>Next Bonds</span>
														<span class="glyphicon glyphicon-chevron-right"></span>
													</span>
												</li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a ui-sref='companies' class="btn btn-warning">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span>Back To Main Page</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row content-start" ng-show='go'>
		<div class="col-xs-12 col-sm-12 whiteBg">
			<h3>Sorry No Results Matched That ID.</h3>
			<span class="spacer10"></span>
			<h5>Please Return To The Home Page Via The Link Below</h5>
			<span class="spacer10"></span>
			<a ui-sref='main' class="btn btn-danger">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span>Back To Main Page</span>
			</a>
		</div>
	</div>
	<span class="spacer30"></span>
	