<div class="row" id="page-heading-row">
	<div class="col-xs-12 col-sm-6">
		<h3 class="panel-heading">
			Dashboard
		</h3>
	</div>
</div>


	
	
	<span class="spacer70"></span>
	<div class="row content-start" >
		<div class="col-xs-12 col-sm-12 whiteBg">
			<div class="row">
				<div class="col-xs-12">
					<h3>Overview</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<h5>Coca Cola</h5>
					<div class="progress">
					  <div class="progress-bar progress-bar-danger active" 
						   role="progressbar" 
						   aria-valuenow="100"
						   aria-valuemin="0" 
						   aria-valuemax="100" 
						   style="width:100%">
					       $100,000,000
					  </div>
					</div>
					<h5>Pepsi Cola</h5>
					<div class="progress">
					  <div class="progress-bar progress-bar-success active" 
						   role="progressbar" 
						   aria-valuenow="70"
						   aria-valuemin="0" 
						   aria-valuemax="100" 
						   style="width:40%">
					       $400,000,00
					  </div>
					</div>
					<h5>Toyota</h5>
					<div class="progress">
					  <div class="progress-bar progress-bar-info active" 
						   role="progressbar" 
						   aria-valuenow="70"
						   aria-valuemin="0" 
						   aria-valuemax="100" 
						   style="width:15%">
					       $15,000,000
					  </div>
					</div>
					<h5>Bayerische Motoren Werke AG</h5>
					<div class="progress">
					  <div class="progress-bar progress-bar-warning active" 
						   role="progressbar" 
						   aria-valuenow="70"
						   aria-valuemin="0" 
						   aria-valuemax="100" 
						   style="width:15%">
					       $15,000,000
					  </div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-xs-12 col-sm-12 ">
							<canvas id="bar" 
									class="chart chart-line"
									chart-data="compGraph.data" 
									chart-options="compGraph.options" 
									chart-labels="compGraph.labels"
									chart-series='compGraph.series'
									chart-colours="compGraph.colors">
							</canvas>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<span class="spacer30"></span>
	<div class="row">
		<div class="col-md-4">
			<div class="whiteBg left-more">
				<h4>
					<span class=''>Total Revenue: </span>
					<span class='text-right'>{{total | currency}}</span>
				</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="whiteBg">
				<h4>
					<span class=''>Subscriptions: </span>
					<span class='text-right'>{{companiesLen}}</span>
				</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="whiteBg right-more">
				<h4>
					<span class=''>Difference: </span>
					<span class='text-right'>{{difference}}%</span>
				</h4>
			</div>
		</div>

	</div>
	<span class="spacer30"></span>
	<div class="row">
		<div class="col-xs-12 whiteBg">
			<div class="row">
				<div class="col-xs-12">
					<h3>Companies</h3>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-responsive no-margin">
				<thead>
					<th>#</th>
					<th>Company Name</th>
					<th>Address</th>
					<th>Industry</th>
					<th></th>
				</thead>
				<tbody>
					<tr ng-repeat='comp in companies'>
						<td>{{comp.companyId}}</td>
						<td>{{comp.legalName}}</td>
						<td>{{comp.address}}</td>
						<td>{{comp.industry}}</td>
						<td class="text-right">
							<a class="btn btn-success" ui-sref='company({id: comp.companyId})'>
								<span>View More</span>
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
				</div>
			</div>
		</div>
	</div>