<div class="row" id="page-heading-row">
	<div class="col-xs-12 col-sm-6">
		<h3 class="panel-heading">
			Future Improvements
		</h3>
	</div>
</div>

<div class="row content-start">
	<div class="col-xs-12 whiteBg">
		<div class="container">
		<h1>Thank you</h1>
		<h5>For considering this application</h5>
		<br>
		<p class="text-justify">
			Due to the time frame there were a few things I did not get around to doing one included calucating which
			elements in the prices array fell between certain dates. Other things included lazy loading the ui states list
			so I could use an ng-repeat in order to popular the applications navigation, the possibility of including images 
			in order to better show who each company are along with a graph in order to show trends of company bond data.
			The ui of the piece would not all be based with bootstrap and instead would use a custom css style in order to 
			better create a more intuitive and bespoke user layout.
		</p>
		<br>
		<p>
			While this application included a sass sheet I did not use SASS. I am capable of coding with it however I have mainly used
			GULP as a task manager in order to work with SASS and SCSS based stylesheets. In a future Version of this I would like to better 
			intergrate grunts built in task mangers.
		</p>
		<br>
		<p>
			I hope this application has impressed and I look foward to hearing from you,<br>
			Kind Regards,<br>
			<i>Evan B</i>
		</p>
		</div>
	</div>
</div>