

<div class="row content-start">
	<div class="col-xs-12 whiteBg">
		<h1>Thank you</h1>
		<h5>For considering this application</h5>
		<p>
			Due to the time frame there were a few things I did not get around to doing one included calucating which
			elements in the prices array fell between certain dates. Other things included lazy loading the ui states list
			so I could use an ng-repeat in order to popular the applications navigation.
		</p>
	</div>
</div>